<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mooo.ewolvy.realremote">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aalist.AAListActivity"
            android:label="@string/settings_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mooo.ewolvy.realremote.aalist.AAListActivity"/>
        </activity>
        <activity android:name=".aalist.AAEditItemActivity"
            android:label="@string/settings_addAA">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mooo.ewolvy.realremote.aalist.AAEditItemActivity"/>
        </activity>
        <activity android:name="ar.com.daidalos.afiledialog.FileChooserActivity" />
    </application>

</manifest>